.container
  %h2 Home
  = link_to "New artist", new_artist_path

  %h3 Artists
  - @artist.each do |artist|
    %p
      = link_to artist.name, artist_path(artist)
      |
      = link_to "Edit", edit_artist_path(artist)
      = link_to "Delete", artist_path(artist), method: :delete, data: {confirm: "Are you sure?"}
