.btn {
}

.btn-primary {
  background-color: $red;
  border: 1px solid $red;
  border-radius: 2px;
  @include transition(all 0.3s);

  &:hover, &:active, &:focus {
    background-color: transparent;
    border: 1px solid $red;
    color: $red;
  }
}
