.navbar {
  border: 0;
  border-radius: 0;
}
.navbar-default {
  background-color: transparent;

  .navbar-nav > .open {
    > a, a:hover, a:focus {
      background: transparent;
      color: black;

      @include transition(all 0.3s);

      &:hover, &:active, &:focus {
        color: $red;
      }
    }
  }

  .navbar-brand, .navbar-nav > li > a {
    color: black;

    @include transition(all 0.3s);

    &:hover, &:active, &:focus {
      color: $red;
    }
  }
}
