.page-section{
  padding: 40px 0;
  margin: auto;
  width: 450px;
}

.page-box {
  padding: 30px;
  border-radius: 4px;
  position: relative;
}

.page-headline > h2 {

}

.page-form {
  .btn {
    text-transform: uppercase;
  }
}

.page-mics-actions {
  padding-top: 20px;
}
